@font-face {
    font-family: Ceria;
    src: url(ceria.otf);
}

html {
	font-family: Tahoma, Geneva, sans-serif;
}

body {
	background-color: #DDD;
}

header {
	background-color: black;
	color: white;
	text-align: center;
}

header>div, header>a>div {
	display: inline-block;
	margin-right: 5vw;
	vertical-align: middle;
}

header nav {
	display: table-row;
}

header nav div {
	border-left: 1px border white;
	display: table-cell;
	vertical-align: middle;
	padding-bottom: 5px;
	padding: 15px 30px 10px;
}

header nav div:hover, header nav div.current {
	border-bottom: 5px solid white;
	padding-bottom: 5px;
}

h1 {
	font-family: Ceria;
	font-size: 3em;
	padding: 15px;
}

h2 {
	font-family: Ceria;
	text-align: center;
	color: #006C35;
	font-size: 3em;
	padding: 15px;
	margin-bottom: 15px;
}

header img {
	padding: 5px;
}

header a {
	height: 130px;
	font-weight: bold;
	color: inherit;
	text-decoration: none;
}

section:not(.nobottommargin) {
	margin-bottom: 45px;
}

iframe {
	width: 100%;
	height: 100vh;
}

p, ul {
	margin: 10px auto;
	padding: 0 10px;
	line-height: 22px;
	max-width: 800px;
	min-width: 250px;
}

strong {
	font-weight: bold;
}

table {
	width: 96%;
	margin: 2%;
}

thead {
	background-color: #CCC;
	font-weight: bolder;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
	padding: 3px;
}

tbody tr:nth-child(even) {
	background-color: rgba(0, 108, 53, 0.3);
}

tbody tr:nth-child(odd) {
	background-color: #DDD;
}

form {
	text-align: center;
}

input, textarea, select {
	width: 60%;
	margin-bottom: 15px;
}

ul {
	list-style: square inside;
	text-indent: 25px;
}