@font-face {
    font-family: Propaganda;
    src: url(propaganda.ttf);
}

html {
	font-family: Tahoma, Geneva, sans-serif;
}

h1,h2 {
	font-family: Propaganda;
	font-size: 2.2em;
	padding: 5px;
}

body {
	background-color: #CCD;
	min-width: 565px;
}

header {
	background-color: #213F85;
	color: white;
	width: 100%;
	text-align: center;
}

header>div {
	display: flex;
	align-items: center;
	margin: auto;
	text-align: left;
}

header img {
	vertical-align: middle;
	flex: none;
	width: 200px;
}

header nav div {
	display: table-cell;
	padding-bottom: 5px;
	padding: 15px 30px 10px;
}

header nav div:hover, header nav a.current div {
	border-bottom: 5px solid white;
	padding-bottom: 5px;
}

h2 {
	text-align: center;
	color: #213F85;
	font-size: 1.6em;
	padding: 15px;
	margin-bottom: 15px;
}

header img {
	padding: 5px;
}

header a {
	height: 130px;
	font-weight: bold;
	color: inherit;
	text-decoration: none;
}

section:not(.nobottommargin) {
	margin-bottom: 45px;
}

iframe {
	width: 100%;
	height: 100vh;
}

p, ul {
	margin: 10px auto;
	padding: 0 10px;
	line-height: 22px;
	max-width: 800px;
	min-width: 250px;
	text-align: justify;
}

strong {
	font-weight: bold;
}

table {
	width: 96%;
	margin: 2%;
}

thead {
	background-color: #CCC;
	font-weight: bolder;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
	padding: 3px;
}

tbody tr:nth-child(even) {
	background-color: rgba(33, 33, 133, 0.3);
}

tbody tr:nth-child(odd) {
	background-color: #DDD;
}

form {
	text-align: center;
}

form p {
	width: 60%;
}

input, textarea, select {
	width: 60%;
	max-width: 60%;
	min-width: 60%;
	margin: 5px 0 15px;
}

input[type="submit"] {
	background-color: #213F85;
	color: white;
	border: 1px solid black;
	font-weight: bold;
	font-size: 1.4em;
	padding: 10px;
	font-family: Propaganda;
	cursor: pointer;
}

ul {
	list-style: square inside;
	text-indent: 25px;
}
